{% extends 'client/base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block content %}  {% crispy form %} {# yonetim/templates/list.html #}
{% load render_table from django_tables2 %}

{% block cover %}
   
<table border="1">
    
    {% for x in mymembers %}
      <tr>
      <td><a href="/view/{{ x.id }}"> {{ x.ClientName}}</a></td>
      <td>{{ x.Currency }}</td>
      <td>{{ x.BillingMethod }}</td>
      <td><a href="/delete/{{ x.id }}">delete</a></td>
      <td><a href="/update/{{ x.id }}">update</a></td>
      </tr>
     
    {% endfor %}
    </table>
    <a href="/register/">Add Client</a>
    <br></br>
    <a href="/profile/">Add Client Contact </a>

{% endblock cover %}
{%endblock content%}